node_modules
npm-debug.log*
.git
.gitignore
.env
.env.*
!.env_example
coverage
test-results
*.log
package.json.before-deploy-fix
package-lock.json.before-deploy-fix
server.js.before-docker-fix
Dockerfile.before*
Dockerfile.test-v1-backup
Dockerfile.test-v2-backup
package.json.before-prisma-opt
package-lock.json.before-prisma-opt
Dockerfile.test-v3-backup
Dockerfile.test-v4-backup
Dockerfile.test-v5-backup
